{# General template of the site, including call of css and js (may be children will call theirs) #}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% block title %}Jolydays{% endblock %}</title>

  {% block css %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/jdjolydays/css/style.css') }}">
  {% endblock %}
</head>

<body>
  <div class="container">
    <header class="row">
      <h1 class="col-sm-6">Jolydays website test</h1>
      {{ render(controller("JDJolydaysBundle:Posts:search")) }}
    </header>    
    <hr>
    <div class="row">
      <aside class="col-md-3 well">
        <div>
          <h3>Menu</h3>
          <ul class="nav nav-pills nav-stacked">
            <li><a href="{{ path('jd_jolydays_homepage') }}">Home</a></li>
            <li><a href="{{ path('jd_jolydays_add') }}">Add post</a></li>
          </ul>
        </div>
        <div>
          <h3>Categories</h3>          
            {# Include controller to render all categories #}
            {{ render(controller("JDJolydaysBundle:Posts:menu")) }}          
        </div>
      </aside>
      {# Empty block for the body #}
      <main class="col-md-9">        
        {% block body %}
        {% endblock %}
      </main>
      {# /End #}
    </div>
  </div>

  {% block js %}
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  {% endblock %}

</body>
</html>